<div class="changelog-container">
    <header class="changelog-header">
        <h1>Jukebar Changelog</h1>
        <p>Track all the latest updates, fixes, and improvements</p>
    </header>

    <section class="version-block">
        <div class="version-header">
            <h2>v1.3.0</h2>
            <span class="release-date">03/02/26</span>
        </div>
        <div class="changes">
            <h3>What's new?</h3>
            <ul>
                <li>The leaderboard now only shows people who have used Jukebar for that week, rather than all the users
                who have accounts</li>
                <li>Skip Shields can now be purchased in bulk up to 1000 which is also the max limit on a song too</li>
                <li> emojis have been replaced with the proper Skip Shield icon </li>
            </ul>
        </div>
    </section>
</div>