<div class="changelog-container">
    <header class="changelog-header">
        <h1>Jukebar Changelog</h1>
        <p>Track all the latest updates, fixes, and improvements</p>
    </header>

    <section class="version-block">
        <div class="version-header">
            <h2>v1.0.1</h2>
            <span class="release-date">12/08/25</span>
        </div>
        <div class="changes">
            <h3>What's new?</h3>
                <ul>
                    <li>Okay… so skip shields were a little broken. Whoopsie daisy! That's my fault, gangalang — but this version is better! (…and nerfed, but that's okay.) The price has been increased to 75 Digipogs to properly account for how easy and cost-efficient they were to buy. Along with that, the skip price has been increased to 100 Digipogs.</li>
                    <li>Fixed a bug where the transaction history was giving an incorrect reason for purchasing skip shields.</li>
                    <li>Anonymous mode no longer adds to your leaderboard count.</li>
                    <li>Synchronization improvements to the queue, along with other minor bug fixes.</li>
            </ul>
        </div>
    </section>
</div>