# ===== JUKEPIX CONFIGURATION =====
JUKEPIX_ENABLED=false # Defaults to false - Enables or disables use of the Formpix API
JUKEPIX_URL=http://localhost:421
JUKEPIX_API_KEY=your_jukepix_api_key_here
# JUKEPIX_URL=http://192.168.x.x:421
JUKEPIX_LENGTH=100


# ===== FORMBAR CONFIGURATION =====

FORMBAR_ADDRESS=https://formbar.yorktechapps.com # or whatever your Formbar instance is running on
OWNER_ID=your_owner_id(s)_here
OWNER_PIN=only_first_listed_owner_pin
POOL_ID=your_pool_id_here
API_KEY=your_api_key_here # This is the API key for the Formbar instance

# ===== JUKEBAR CONFIGURATION =====
SONG_AMOUNT=50
SKIP_AMOUNT=100
SKIP_SHIELD_AMOUNT=75
VOTE_BAN_AMOUNT=500
CREATE_PLAYLIST_AMOUNT=300
ADD_PLAYLIST_SONG_AMOUNT=50
REMOVE_PLAYLIST_SONG_AMOUNT=50
CUSTOM_PLAYLIST_PLAY_AMOUNT=100
URL=http://localhost # or whatever your server is running on

# ===== SPOTIFY CONFIGURATION =====

SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here


# Spotify Refresh Token
SPOTIFY_REFRESH_TOKEN=your_spotify_refresh_token_here

# Spotify API Scopes
SPOTIFY_SCOPES=user-read-playback-state user-modify-playback-state user-read-currently-playing playlist-read-private playlist-read-collaborative playlist-modify-private playlist-modify-public user-read-private







